{{#if loggedIn }}
<p>Welcome back, <a href="#forums/profile/{{steamid}}" ><strong>{{username}}</strong></a>!<br/><a  href='/logout'>Logout</a></p>
{{else}}
<a href="/auth/steam" class="steam-login"><img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"/></a>
{{/if}}