<div class="navbar-inner">
   <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">NS2 League</a>
      <div class="nav-collapse collapse">
      <ul class="nav">
         <li class="{{{active home}}}"><a href="#">Home</a></li>
         <li class="{{{active about}}}"><a href="#about">About</a></li>
         <li class="{{{active pickup}}}"><a href="#pickup">Pickup Games</a></li>
         <li class="{{{active forum}}}"><a href="#forums">Forums</a></li>
      </ul>
      </div><!--/.nav-collapse -->
   </div>
</div>