<h2>Profile</h2>
<div class="span4">
   <div class="row">
      <input type="text" id="idFirstName" name="Name" value="{{username}}">
   </div>
   <div class="row">
      <select>
         <option>CA</option>
         <option selected="true">US</option>
      </select>
   </div>
</div>