<h3>Players</h3>
<select>
   <option>a</option>
   <option>b</option>
</select>

<h3>Servers</h3>
<select>
   <option>Server A</option>
   <option>Server B</option>
</select>

<h3>Maps</h3>
<select>
   <option>Tram</option>
   <option>Veil</option>
</select>